/* Specifity */

.title{
    background-color: cadetblue;
    color: azure;
    text-transform: uppercase;
}

*{
    background-color: azure;
    color: rgb(199, 199, 157);
}

span{
    color: rgb(39, 189, 184);
}

header{
    background-color: rgb(181, 187, 193);
    width: 100%;
    padding: 20px;
}

header h1{
    font-size: 2em;
}

header h1 .title {
    color: rgb(181, 187, 193);
}

span::after{
    content: 'Ionut';
}